html {
background-color: #f2f0f0;
}
body, html{
  overflow-x:hidden;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "HelveticaNeue-Light";
  font-size: 47px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.pictures img{
  max-height: 20em;
  border: solid #f2f0f0 15px;

}
@media screen and (min-width: 1201px){
  .header{
    font-size: 47px;
    height: 100px;

  }
  .pictures img{
    max-width: 475px;
  }
}
@media screen and (min-width: 901px)and (max-width: 1200px){
  .header{
    font-size: 47px;
    height: 100px;

  }
  .pictures img{
    max-width: 446px;
  }
}
@media screen and (min-width: 756px) and (max-width: 800px){
  .header {
    font-size: 29px;
    height: 60px;

  }
  .pictures img{
    max-width: 446px;
  }
}


@media screen and (min-width: 501px) and (max-width: 755px){
  .header {
    height: 60px;
    font-size: 29px;
  }

  .pictures img{
    width: 340px;
  }
}

@media screen and (max-width: 500px){
  .header{
    height: 60px;
    font-size: 29px;
  }

  .pictures img{
    max-width: 300px;
  }
}
